<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="19.2.0.44" targetFramework="net48" />
</packages>